<!-- banner__area-start -->
{% load static %}
<section class="banner__area pt-20 pb-10">
    <div class="container">
        <div class="row">
            {% for data in banners %}
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="{{ data.image.url }}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Intelligent <br> New Touch Control</a></h6>
                        <p>Discount 20% On Products</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="assets/img/banner/banner-2.jpg" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">On-sale <br> Best Prices</a></h6>
                        <p>Limited Time: Online Only!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="assets/img/banner/banner-3.jpg" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Hot Sale <br> Super Laptops 2022 </a></h6>
                        <p>Free Shipping All Order</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- banner__area-end -->