{% load static %}
<!-- banner__area-start -->
<section class="banner__area pt-60 pb-25">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="assets/img/banner/banner-6.jpg" alt=""></a>
                    </div>
                    <div class="banner__content banner__content-sd text-center">
                        <div class="banner-button mb-20">
                            <a href="product-details.html" class="st-btn">HOT DEALS</a>
                        </div>
                        <h6><a href="product-details.html">Sale 30% Off <br> Top Computer Case Gaming</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="assets/img/banner/banner-7.jpg" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-sd text-center">
                                <h6><a href="product-details.html">Electronic Deals</a></h6>
                                <p>Laptop, Computer, Smartphone, Gampad</p>
                                <div class="banner-button mt-20 d-none d-sm-block">
                                    <a href="product-details.html" class="st-btn-3 b-radius">Shop Deals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="assets/img/banner/banner-8.jpg" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <h6><a href="product-details.html">Hot Products <br> Laptop Ultra 4K 16”</a>
                                </h6>
                                <p>Discount 20% On Products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img">
                        <a href="product-details.html"><img src="assets/img/banner/banner-9.jpg" alt=""></a>
                    </div>
                    <div class="banner__content banner__content-sd text-center">
                        <div class="banner-button mb-20">
                            <a href="product-details.html" class="st-btn">HOT DEALS</a>
                        </div>
                        <h6><a href="product-details.html">Sport Edition <br> Best Choice of The Year</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner__area-end -->