<!-- shop modal start -->
{% for modal_data in products %}
<div class="modal fade" id="productModalId-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
        <div class="modal-content">
            <div class="product__modal-wrapper p-relative">
                <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                </div>
                <div class="product__modal-inner">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-box">
                                <div class="tab-content" id="modalTabContent">

                                    <div class="tab-pane fade show active" id="nav1" role="tabpanel"
                                        aria-labelledby="nav1-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{{modal_data.product_image_set.first.image_url}}" alt="">
                                        </div>
                                    </div>

                                    {% for image in modal_data.product_image_set.all %}
                                    <div class="tab-pane fade show" id="nav{{image.id}}" role="tabpanel"
                                        aria-labelledby="nav{{image.id}}-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{{image.image_url}}" alt="">
                                        </div>
                                    </div>
                                    {% endfor %}


                                </div>
                                <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                    {% for image in modal_data.product_image_set.all %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav{{image.id}}-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav{{image.id}}" type="button" role="tab"
                                            aria-controls="nav{{image.id}}" aria-selected="true">
                                            <img src="{{image.image_url}}" alt="" style="height:85px; width:85px">
                                        </button>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-content">
                                <h4><a href="product-details.html">{{modal_data.product_name}}</a></h4>
                                <div class="product__review d-sm-flex">
                                    <div class="rating rating__shop mb-10 mr-30">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__add-review mb-15">
                                        <span>01 review</span>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span>रु {{modal_data.price}}</span>
                                </div>
                                <div class="product__modal-des mt-20 mb-15">
                                    <ul>

                                        <li>
                                            {{modal_data.product_information|safe|truncatechars:500}}</a></li>

                                        </li>

                                    </ul>
                                </div>
                                <div class="product__stock mb-20">
                                    <span class="mr-10">Availability :</span>
                                    <span>{{modal_data.availability}} in stock</span>
                                </div>
                                <div class="product__modal-form">
                                    <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" />
                                                </div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <button class="cart-btn" type="submit">Add to cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="product__stock mb-30">
                                    <ul>
                                        <li><a href="#">
                                                <span class="sku mr-10">SKU:</span>
                                                <span>{{modal_data.sku}}</span></a>
                                        </li>
                                        <li><a href="#">
                                                <span class="cat mr-10">Categories:</span>
                                                <span>{{modal_data.categories}}</span></a>
                                        </li>
                                        <li><a href="#">
                                                <span class="tag mr-10">Tags:</span>
                                                <span>{{modal_data.tags}}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- shop modal end -->