{% extends "includes/base.html" %}
{% load static %}

{% block slider %}
{% include 'includes/slider.html' %}
{% endblock %}

{% block banner %}
{% include 'includes/banner.html' %}
{% endblock %}


{% block topdealoftheday %}
{% include 'includes/topdealoftheday.html' %}
{% endblock %}

{% block topsellingproducts %}
{% include 'includes/topsellingproducts.html' %}
{% endblock %}

{% block featuresarea %}
{% include 'includes/featuresarea.html' %}
{% endblock %}

{% block bannerarea %}
{% include 'includes/bannerarea.html' %}
{% endblock %}

{% block recommended %}
{% include 'includes/recommended.html' %}
{% endblock %}

{% block brands %}
{% include 'includes/brands.html' %}
{% endblock %}

{% block newsletter %}
{% include 'includes/newsletter.html' %}
{% endblock %}

{% block topfeatured %}
{% include 'includes/topfeatured.html' %}
{% endblock %}

{% block movingarea %}
{% include 'includes/movingarea.html' %}
{% endblock %}

{% block banneritem %}
{% include 'includes/banneritem.html' %}
{% endblock %}

<!-- {% block body %}
{% endblock %} -->